<ion-header>

  <ion-navbar>
    <ion-title>Open</ion-title>
    <ion-buttons right>
      <button ion-button icon-only [navPush]="pushPage">
            <ion-icon name="create"></ion-icon>
      </button>
   </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

   <div *ngIf="loaded">
      <div padding>
        <ion-segment [(ngModel)]="view">
          <ion-segment-button value="incoming">
            Incoming
          </ion-segment-button>
          <ion-segment-button value="sent">
           Sent
          </ion-segment-button>
        </ion-segment>
      </div>

      <div [ngSwitch]="view">
        <ion-list *ngSwitchCase="'incoming'">
           <ion-item-sliding *ngFor="let request of incoming" (tap)="showRequest(request.id)" #item>
             <ion-item>
                <ion-avatar item-start>
                    <img src="{{ request.user.image }}" alt="Sender avatar"/>
                </ion-avatar>
                <h2><strong>{{ request.class_name }}</strong></h2>
                <h5>{{ request.start_date_time | date: 'EEEE, MMMM d, y' }}</h5>
                <h5>{{ request.start_date_time | date: 'h:mm a'}} - {{request.end_date_time | date: 'h:mm a'}}</h5>
                <ion-item no-lines>

                    <p *ngIf="request.currentUserSendee.reply.value !== 'no_reply'">
                       You replied "{{ request.currentUserSendee.reply.value }}".
                    </p>
                    <p *ngIf="request.currentUserSendee.reply.value == 'no_reply'">
                       You haven't replied yet.
                    </p>
                    <div class="selected-sub-box" *ngIf="request.selected_sub !== null">
                       <p>
                           <strong>Sub Selected: {{ request.selected_sub['first_name'] }} {{ request.selected_sub['last_name'][0] }}</strong>
                       </p>
                       <p *ngIf="request.selected_sub !== null &&
                                  request.selected_sub['confirmed'] == false">
                           Awaiting confirmation.
                       </p>
                       <button *ngIf="request.selected_sub !== null &&
                                  request.selected_sub.first_name == currentUser.first_name &&
                                  request.selected_sub.last_name == currentUser.last_name &&
                                  request.selected_sub.confirmed == false
                                  "
                               ion-button round text-center (tap)="confirmSubAndChangeOnMB(request);">
                           Confirm
                        </button>
                    </div>
                </ion-item>
             </ion-item>
              <ion-item-options side="right">
                 <button ion-button color="secondary" (click)="reply(request, 'agree')">Agree</button>
                 <button ion-button color="alert" (click)="reply(request, 'maybe')">Maybe</button>
                 <button ion-button color="danger" (click)="reply(request, 'decline')">Decline</button>
              </ion-item-options>

           </ion-item-sliding>
           <ion-item *ngIf="errorLoadingIncoming">
             <p>
                 There was an error loading these requests. Please try again.
             </p>
          </ion-item>
          <ion-item *ngIf="incoming.length == 0">
            <p>
                You have no open incoming requests.
            </p>
         </ion-item>
        </ion-list>

         <ion-list *ngSwitchCase="'sent'">
               <ion-item *ngFor="let request of sent" (tap)="showRequest(request.id)">
                  <ion-avatar item-start>
                     <img src="{{ request.user.image }}" alt="Sender avatar"/>
                  </ion-avatar>
                   <h2><strong>{{ request.class_name }}</strong></h2>

                   <h5>{{ request.start_date_time | date: 'EEEE, MMMM d, y' }}</h5>
                   <h5>{{ request.start_date_time | date: 'h:mm a'}} - {{request.end_date_time | date: 'h:mm a'}}</h5>
                   <ion-item no-lines>
                      <p>{{ request.reply_counts.agree }} people have agreed to this request.</p>
                      <p *ngIf="request.reply_counts.no_reply == 0">All replies have been received.</p>
                      <p *ngIf="request.reply_counts.no_reply !== 0">Still waiting for {{ request.reply_counts.no_reply }} replies.</p>
                      <p *ngIf="request.selected_sub !== null">
                         Sub selected: {{ request.selected_sub.first_name }} {{ request.selected_sub.last_name[0] }}.
                         <span *ngIf="request.selected_sub &&
                                      request.selected_sub['confirmed'] == false">
                             Awaiting confirmation.
                          </span>
                      </p>
                   </ion-item>
               </ion-item>
               <ion-item *ngIf="errorLoadingSent">
                   <p>
                      There was an error loading these requests. Please try again.
                   </p>
               </ion-item>
               <ion-item *ngIf="sent.length == 0">
                 <p>
                     You have no open sent requests.
                 </p>
             </ion-item>
         </ion-list>

      </div>
   </div>

</ion-content>
<ion-footer>
   <ion-grid>
      <ion-row>
         <ion-col text-center>
            <img src="../../assets/imgs/powered-by-mb-logo/small.png" alt="Powered by MINDBODY"/>
         </ion-col>
      </ion-row>
   </ion-grid>
</ion-footer>
