<ion-header>

  <ion-navbar>
    <ion-title>Past</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

   <div padding>
     <ion-segment [(ngModel)]="viewRequests">
       <ion-segment-button value="sent">
         Sent
       </ion-segment-button>
       <ion-segment-button value="incoming">
         Incoming
       </ion-segment-button>
     </ion-segment>
   </div>

   <div [ngSwitch]="viewRequests">
     <ion-list *ngSwitchCase="'sent'">
           <ion-item *ngFor="let request of sent">
              <h2>{{ request.class_name }}</h2>

              <h5>{{ request.start_date_time | date: 'E, M/d/yy' }}</h5>
              <h5>{{ request.start_date_time | date: 'h:mm a'}} - {{request.end_date_time | date: 'h:mm a'}}</h5>
           </ion-item>
     </ion-list>

     <ion-list *ngSwitchCase="'incoming'">
        <ion-item *ngFor="let request of incoming">
           <h2>{{ request.class_name }}</h2>
           <h5>{{ request.start_date_time | date: 'E, M/d/yy' }}</h5>
           <h5>{{ request.start_date_time | date: 'h:mm a'}} - {{request.end_date_time | date: 'h:mm a'}}</h5>
        </ion-item>
     </ion-list>
   </div>

</ion-content>
