page-create-sub-request {

   div.breadcrumbs-circle {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: color($colors, primary);
      text-align: center;
   }

   div.line {
      width:100%;
      background: color($colors, primary);
      height: 3.5px;
   }

   span.breadcrumbs-text {
      font-size: 2.75rem;
      color: #fff;
   }

}
