<ion-header>

  <ion-navbar>
    <ion-title>Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <div *ngIf="loaded == true">
      <ion-list>
        <ion-item class="no-top">
            <ion-avatar>
               <img src="{{ currentUser.image }}">
            </ion-avatar>
        </ion-item>
        <ion-item>
           <ion-label><strong>First Name</strong></ion-label>
           <ion-input type="text" value="{{ currentUser.first_name }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Last Name</strong></ion-label>
          <ion-input type="text" value="{{ currentUser.last_name }}"></ion-input>
        </ion-item>

        <ion-item>
           <ion-label><strong>Email</strong></ion-label>
           <ion-input type="text" value="{{ currentUser.email }}"></ion-input>
        </ion-item>

        <ion-item *ngIf="currentUser.staff_id_mb != '' || null">
           <ion-icon name="checkmark-circle"></ion-icon>
           <ion-label><strong>Connected to MINDBODY.</strong></ion-label>
        </ion-item>
      </ion-list>

      <ion-row>
         <ion-col text-center>
            <button round outline ion-button ion-end (tap)="logOut()" [navPush]='pushLogin'>
               Log Out <span> </span>
               <ion-icon name="log-out"></ion-icon>
            </button>
         </ion-col>
      </ion-row>
   </div>

</ion-content>
<ion-footer>
   <ion-grid>
      <ion-row>
         <ion-col text-center>
            <img src="../../assets/imgs/powered-by-mb-logo/small.png" alt="Powered by MINDBODY"/>
         </ion-col>
      </ion-row>
   </ion-grid>
</ion-footer>
