page-show-sub-request {

   ion-row {
      padding: 0;
   }

   .col {
      padding: 0px;
   }

   ion-row:nth-child(2) .col {
      margin-top: -0.5em;
   }

   ion-col, sub {
      text-align: center;
   }

   .item-ios ion-avatar img.sender-image {
      width: 60px;
      height: 60px;
   }

   .item-md ion-avatar img.sender-image {
      width: 60px;
      height: 60px;
   }

   .item-ios h1 {
      font-weight: bold;
   }

   .item-md h1 {
      font-weight: bold;
   }

   .item-ios h2{
      font-weight: semi-bold;
   }

   .item-md h2{
      font-weight: semi-bold;
   }

   .item-ios h4 {
      font-weight: semi-bold;
   }

   .item-md h4 {
      font-weight: semi-bold;
   }

   .chips {
      text-align: right;
   }

   .chip-label {
      padding-left: 10px;
      padding-right: 10px;
   }

   sub {
      bottom: 0em;
      color: #222;
   }

   .segment-ios .segment-button {
      height: 7rem;
      line-height: 3rem;
   }

   .segment-md .segment-button {
      height: 7rem;
      line-height: 3rem;
   }

   .segment-ios .segment-button .show-replies-head {
      margin-top: 5px;
      font-size: 2.5rem;
      font-weight: bold;
      display: block;
   }

   .segment-md .segment-button .show-replies-head {
      margin-top: 5px;
      font-size: 2.5rem;
      font-weight: bold;
      display: block;
   }

   .segment-ios .segment-button .show-replies-sub {
      display:block;
   }

   .segment-md .segment-button .show-replies-sub {
      display:block;
   }

   .confirm-box {
      background-color: #C0D4FE;
   }


}
