<ion-header>

  <ion-navbar [hideBackButton]="disableBack">
      <ion-buttons right>
         <button *ngIf="view == 'sent'" ion-button icon-only (tap)="presentActionSheet()">
              <ion-icon name="more"></ion-icon>
         </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
   <ion-grid *ngIf="loaded">

      <!-- Header -->
            <ion-row>
               <ion-item no-lines>
                  <ion-avatar class="sender-image" item-start>
                        <img src="{{ request.user['image'] }}" class="sender-image" alt="Sender avatar" />
                  </ion-avatar>
                  <h1>{{ request.class_name }}</h1>
                  <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2>
               </ion-item>
            </ion-row>
            <ion-row>
               <ion-item no-lines>
                  <h4>{{ request['start_date_time'] | date: 'EEEE, MMMM d, y' }}</h4>
                  <h4>{{ request['start_date_time'] | date: 'h:mm a' }} - {{ request['end_date_time'] | date: 'h:mm a' }}</h4>
                  <p>
                     {{ request.note }}
                  </p>
                  <div class="chips">
                     <ion-chip *ngIf="request.selected_sub" color="primary">
                        <span class="chip-label">
                           Sub Selected: {{ request.selected_sub.first_name }} {{ request.selected_sub.last_name[0] }}
                        </span>
                     </ion-chip>
                     <ion-chip *ngIf="request.selected_sub && request.selected_sub.confirmed === false" color="danger">
                        <span class="chip-label">
                           Awaiting Confirmation
                        </span>
                     </ion-chip>
                     <ion-chip *ngIf="request.selected_sub && request.selected_sub.confirmed === true" color="secondary">
                        <span class="chip-label">
                           Closed
                        </span>
                     </ion-chip>
                  </div>
               </ion-item>
         </ion-row>
         <!-- End Header -->

         <!--  Filter Bar  -->
         <ion-row>
           <ion-segment [(ngModel)]="repliesToShow">
             <ion-segment-button value="all">
               <span class="show-replies-head">{{ request.sendees.length }}</span>
               <span class="show-replies-sub">All</span>
             </ion-segment-button>
             <ion-segment-button value="agree">
               <span class="show-replies-head">{{ sendeesAgree.length }}</span>
               <span class="show-replies-sub">Agree</span>
             </ion-segment-button>
             <ion-segment-button value="maybe">
                <span class="show-replies-head">{{ sendeesMaybe.length }}</span>
               <span class="show-replies-sub">Maybe</span>
             </ion-segment-button>
             <ion-segment-button value="decline">
               <span class="show-replies-head">{{ sendeesDecline.length }}</span>
               <span class="show-replies-sub">Decline</span>
             </ion-segment-button>
             <ion-segment-button value="no_reply">
               <span class="show-replies-head">{{ sendeesNoReply.length }}</span>
               <span class="show-replies-sub">No Reply</span>
             </ion-segment-button>
           </ion-segment>
        </ion-row>
        <!--  Filter Bar End -->

        <!-- Replies -->
         <div *ngIf=" repliesToShow == 'all' ">
            <reply-item *ngFor="let sendee of request.sendees" [sendee]="sendee" (onSubSelected)="setSub($event, sendee)"></reply-item>
         </div>

         <div *ngIf=" repliesToShow == 'agree' ">
            <reply-item *ngFor="let sendee of sendeesAgree" [sendee]="sendee" (onSubSelected)="setSub($event, sendee)"></reply-item>
            <ion-item *ngIf="(repliesToShow == 'agree') && (sendeesAgree.length == 0)">
               <p>
                  No one replied <strong>agree</strong> yet.
               </p>
            </ion-item>
         </div>

         <div *ngIf=" repliesToShow == 'maybe' ">
            <reply-item *ngFor="let sendee of sendeesMaybe" [sendee]="sendee"></reply-item>
            <ion-item *ngIf="sendeesMaybe.length == 0">
               <p>
                  No one replied <strong>maybe</strong> yet.
               </p>
            </ion-item>
         </div>

         <div *ngIf=" repliesToShow == 'decline' ">
            <reply-item *ngFor="let sendee of sendeesDecline" [sendee]="sendee"></reply-item>
            <ion-item *ngIf="sendeesDecline.length == 0">
               <p>
                  No one replied <strong>decline</strong> yet.
               </p>
            </ion-item>
         </div>

         <div *ngIf=" repliesToShow == 'no_reply' ">
            <reply-item *ngFor="let sendee of sendeesNoReply" [sendee]="sendee"></reply-item>
            <ion-item *ngIf="sendeesNoReply.length == 0">
               <p>
                  Everyone has replied to this request.
               </p>
            </ion-item>
         </div>
            <!-- Replies End -->

   </ion-grid>
</ion-content>
<ion-footer>
   <ion-grid>
      <ion-row>
         <ion-col text-center>
            <img src="../../../assets/imgs/powered-by-mb-logo/small.png" alt="Powered by MINDBODY"/>
         </ion-col>
      </ion-row>
   </ion-grid>
</ion-footer>
