page-create-account {

   h1 {
      font-size: 2rem;
      text-align: center;
   }
   h2 {
      font-size: 1.25rem;
      text-align: center;
      font-weight: semi-bold;
   }

   .mb-footer {
      height: 75px;
      display: block;
      margin: auto;
   }

}
